@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.board {
  font-family: 'Open Sans', sans-serif;
  background: lightsteelblue;
  margin: 1em;
}

.square {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  height: 2em;
  width: 1.5em;
  text-align: center;
  line-height: 1em;
  background: #fff;
  padding: 0.5em 0;
  margin: 0.25em;
  text-transform: uppercase;
  border-radius: 8%;
  -webkit-border-radius: 8%;
  -moz-border-radius: 8%;
  -ms-border-radius: 8%;
  -o-border-radius: 8%;
}

.square.correct {
  background: lightgreen;
}

.square.shifted {
  background: lightyellow;
}

.square.wrong {
  background: lightgrey;
}