.keyboard {
  text-align: center;
  margin-top: 1em;
}

.key {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  text-align: center;
  font-weight: 500;
  font-size: 1em;
  height: 3em;
  min-width: 2.5em;
  line-height: 1em;
  padding: 1em 0.75em;
  margin: 0.15em;
  background: #eee;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  user-select: none;
}